/* @font-face kit by Fonts2u (http://www.fonts2u.com) */

@font-face {
    font-family: "Staatliches";
    src: url("Staatliches.eot?") format("eot"), url("Staatliches.woff") format("woff"), url("Staatliches.ttf") format("truetype"), url("Staatliches.svg#STAATLICHES") format("svg");
    font-weight: normal;
    font-style: normal;
}